{{ form_start(form, {'attr': {'novalidate': "novalidate"}}) }}


    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
    </div>


    <div class="form-group">
        {{ form_label(form.authors) }}
        
        <div id="collection-author-fields"
            data-widget-min="1"
            data-widget-init="3"
            data-widget-tags="{{ '<div class="form-group"></div>'|e }}"
            data-widget-counter="{{ form.authors|length }}">

        {% for authorField in form.authors %}
            <div>
                {{ form_widget(authorField) }}
            </div>
        {% endfor %}

        </div>

        <template data-collection-prototype data-collection-target="#collection-author-fields">
            <div class="form-group">
                <div class="row">
                    <div class="col-3">Auteur #<span data-collection-serial></span></div>
                    <div class="col-6">{{ form_widget(form.authors.vars.prototype.author) }}</div>
                    <div class="col-3">
                        <button type="button" class="btn btn-danger" 
                            data-collection-action="remove" 
                            data-collection-target="#collection-author-fields"
                            data-collection-serial0="__name__">-</button></div>
                </div>
            </div>
        </template>


    <button type="button"
        class="add-another-collection-widget"
        data-collection-action="add"
        data-collection-target="#collection-author-fields">Ajouter un auteur</button>

    </div>


    {{ form_rest(form) }}
    <button type="submit" class="btn btn-xs btn-primary">Ajouter un livre</button>

{{ form_end(form) }}