{% extends 'base.html.twig' %}

{% set title = "Livres (index)" %}
{% block title title%}

{% block body %}
<div class="container">

    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>

    <div>
        <a href="{{ path('books:create') }}">Ajouter un livre</a>
    </div>

    {% for book in books %}
        <div>
            {{ book.title }} (
                <a href="{{ path('books:read', {'id': book.id}) }}">details</a>  
                <a href="{{ path('books:update', {'id': book.id}) }}">modifier</a>  
                <a href="{{ path('books:delete', {'id': book.id}) }}">supprimer</a>  
            )
        </div>
    {% else %}
        <div class="alert alert-warning">
            Il n'y à aucun livre.
        </div>
    {% endfor %}
</div>
{% endblock %}
